/* styles.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="file"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button,
input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover,
input[type="submit"]:hover {
    background-color: #0056b3;
}

h1 {
    font-size: 24px;
    margin-top: 20px;
}

h3 {
    font-size: 18px;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

p h3 {
    display: inline;
    font-weight: normal;
}

.response-container {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-family: 'Georgia', serif; /* Better font for the result */
    line-height: 1.6; /* Prettier line spacing */
}